### Python3 ###
# Distribution / packaging
build
dist
*.egg-info/
.eggs/
__pycache__/

# can be recreated with pipenv install -e . --dev
/Pipfile
/Pipfile.lock

### PyCharm ###
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
