### Python3 ###
# Distribution / packaging
build
dist
*.egg-info/
.eggs/
__pycache__/

# virtual environment
Pipfile
Pipfile.lock
.venv/

### PyCharm ###
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
