[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"

[packages]
openrover = {editable = true,path = "."}
observable = "*"

[requires]
python_version = "3.7"
# python_version = "3.6"
