[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
openrover = {editable = true,path = "."}
# note packages should generally go in setup.cfg, not here

[requires]
python_version = "3.7"
