[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
openrover = {editable = true,path = "."}
pyserial-asyncio = {editable = true,git = "https://github.com/RoverRobotics/pyserial-asyncio.git"}

[requires]
python_version = "3.6"
